<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <title>Home Page</title>
    <meta charset="utf-8"/>
</head>
<body style="background-color: #d5d5d5">
<div th:replace="fragments/header :: header">
</div>
<div class="container-fluid">
    <div class="hero-unit m-5">
        <h1>Let's check this out!</h1>
        <p>
            Welcome to the My Financial Helper Application.
        </p>
        <p>
            <a href="/signup" th:href="@{/transaction}" class="btn btn-large btn-success">Start</a>
        </p>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>