<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script th:inline="javascript">
        function openUpdateModal(id){
            $.ajax({
                url:"/update/" + id,
                success: function (data) {
                    $("#updateModalHolder").html(data);
                    $('#updateModal').modal('show');

                }
            })
        }

    </script>
</head>
<body style="background-color: #adadad">
<div th:replace="fragments/header :: header">
</div>

<div class="container">
    <div class="row">
        <!-- Start -->
        <div class="col-lg-4">

            <!-- Start -->
             <div class="row">
                 <div class="col-md-8" >
                     <h4>Transaction Form</h4>
                 </div>
             </div>
            <!-- End -->


            <form action="#" th:action="${next}" th:object="${trform}" method="post" >
                <div class="row form-group">
                    <div class="col-lg-2"><label>Type</label></div>
                    <div class="col-sm-3 bg-primary">
                        <input type="radio"  th:value="'R'" th:field="*{type}"><small>Revenue</small>
                    </div>
                    <div class="col-sm-3 bg-primary">
                        <input type="radio"  th:value="'E'"  th:field="*{type}"><small>Expense</small>
                    </div>
                </div>

                <!-- End -->

                <!-- Start -->
                <div class ="row form-group">
                    <div class="col-md-2">
                        <label>Day</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" th:field="*{day}" th:value= "${dow}" th:selected="${dow}">
                            <option th:value="'0'">SUNDAY</option>
                            <option th:value="'1'">MONDAY</option>
                            <option th:value="'2'">TUESDAY</option>
                            <option th:value="'3'">WEDNESDAY</option>
                            <option th:value="'4'">THURSDAY</option>
                            <option th:value="'5'">FRIDAY</option>
                            <option th:value="'6'">SATURDAY</option>
                        </select>
                    </div>
                </div>
                <!-- End -->

                <!-- Start -->
                <div class="row">
                    <div class="col-md-2"><label>Amount</label></div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" th:field="*{amount}">

                                <span class="input-group-addon">$</span>
                                <span class="input-group-addon">0.00</span>

                        </div>
                    </div>
                </div>

                <!-- End -->

                <!-- Start -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control"  rows="2" th:field="*{description}" ></textarea>
                        </div>
                    </div>
                </div>
                <!-- End -->

                <!-- Start -->
                <div class="row">
                    <div class="col-md-4 form-group">
                        <button type="submit"  class="btn btn-primary">Submit</button>
                    </div>

                </div>
                <!-- End -->
            </form>



        </div>
        <!-- End -->

        <!-- Start-->
        <div class="col-lg-8">
            <div class="row">
                <div class="col-7">
                    <h4>Table of Transactions</h4>
                </div>
            </div>
            <div class="row-12">
                    <table class="table table-sm table-dark">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Day</th>
                            <th scope="col">Time</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transaction : ${transactions}">
                            <td th:text="${transaction.id}"></td>
                            <td th:text="${transaction.day}"></td>
                            <td th:text="${transaction.time}"></td>
                            <td th:text="${transaction.description}"></td>
                            <td th:text="${transaction.amount}"></td>
                            <td th:text="${transaction.type}"></td>
                            <td>
                                <a th:href="@{'/delete/__${transaction.id}__'}" class="btn btn-danger btn-sm"><span>Delete </span></a>
                                |
                                <!--<button class="btn btn-success btn-sm" th:onclick="'javascript:openUpdateModal(\'' + ${transaction.id}+'\');'">Update</button>-->
                                <a th:href="@{'/update/__${transaction.id}__'}" class="btn btn-success btn-sm"><span>Update </span></a>

                            </td>
                        </tr>

                        </tbody>
                    </table>
            </div>
            <div class="row-12">


            </div>

            <!-- Modal -->

            <!-- End -->

        </div>
        <!-- End -->

    </div>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>


<div id="updateModal" class="modal fade" role="dialog" th:fragment="modalContents" th:object="${trs01}" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Transaction Type</h4>
            </div>
            <div class="modal-body">
                <p>details</p>
                <table class="table table-sm table-dark">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Day</th>
                        <th scope="col">Time</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tran : ${trs01}">
                        <td th:text="${tran.id}"></td>
                        <td th:text="${tran.day}"></td>
                        <td th:text="${tran.time}"></td>
                        <td th:text="${tran.description}"></td>
                        <td th:text="${tran.amount}"></td>
                        <td th:text="${tran.type}"></td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="modal-footer">
            <button typ="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</body>

</html>