<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <title>Home Page</title>
    <meta charset="utf-8"/>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>

<div class="container mt-5 ml-5">
    <div class="row">
        <!-- Start -->
        <div class="col-lg-4">

            <!-- Start -->
             <div class="row">
                 <div class="col-8">
                     <h4>Transaction Form</h4>
                 </div>
             </div>
            <!-- End -->

            <form action="#" th:action="@{/create}" th:object="${trform}" method="post">
                <table>
                    <tr>
                        <td>Title:</td>
                        <td><input type="text" th:field="*{type}" /></td>
                        <td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Title error message</td>
                    </tr>
                    <tr>
                        <td>Content:</td>
                        <td><input type="text" th:field="*{day}" /></td>
                        <td th:if="${#fields.hasErrors('day')}" th:errors="*{day}">Content error message</td>
                    </tr>
                    <tr>
                        <td>Content:</td>
                        <td><input type="text" th:field="*{amount}" /></td>
                        <td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Content error message</td>
                    </tr>
                    <tr>
                        <td>Content:</td>
                        <td><input type="text" th:field="*{description}" /></td>
                        <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Content error message</td>
                    </tr>

                    <tr>
                        <td><button type="submit">Submit post</button></td>
                    </tr>
                </table>
            </form>




        </div>
        <!-- End -->

        <!-- Start-->
        <div class="col-lg-8">
            <div class="row">
                <div class="col-7">
                    <h4>Table of Transactions</h4>
                </div>
            </div>
            <div class="row-12">
                    <table class="table table-sm table-dark">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Day</th>
                            <th scope="col">Time</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1001</th>
                            <td>SUNDAY</td>
                            <td>12:50:00 PM</td>
                            <td>some Description</td>
                            <td>Revenue</td>
                            <td>13.99</td>
                            <td>DELETE | EDIT</td>
                        </tr>

                        </tbody>
                    </table>
            </div>
        </div>
        <!-- End -->

    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>