<html xmlns:th="http://www.thymeleaf.org">
<nav class=" nav navbar navbar-expand-lg navbar-dark bg-secondary shadow" th:fragment="header">

        <a class="nav navbar-brand" href="#">Menu</a>

        <div class="collapse nav navbar-collapse" id="basicExampleNav">

            <ul class="nav navbar-nav">
                <li class="nav navbar-header active">
                    <a class="nav navbar-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav navbar-link">
                    <a class="nav nav-link" href="/transaction">Transaction</a>
                </li>
                <li class="nav nav-link">
                    <a class="nav nav-link" href="/report">Report</a>
                </li>
            </ul>
        </div>
    </nav>
</html>