<html xmlns:th="http://www.thymeleaf.org">
<div id="updateModal" class="modal fade" role="dialog" th:fragment="modalContents" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" th:text="${tran.type}">Transation Type</h4>
            </div>
            <div class="modal-body">
                <p>details</p>
                <div th:text="${objAmount}"></div>

            </div>

        </div>
        <div class="modal-footer">
            <button typ="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</html>